[Unit]
Description=ST set alsa state configuration
After=systemd-modules-load.service
Before=alsa-restore.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/system-generator-alsa-states
ExecStart=/usr/bin/system-generator-alsa-conf

[Install]
WantedBy=sysinit.target
