[Unit]
Description=Bluetooth brcmfmac sleep hook
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/bluetooth_brcmfmac_driver.sh unbind
ExecStop=-/usr/bin/bluetooth_brcmfmac_driver.sh bind

[Install]
WantedBy=sleep.target
