[Unit]
Description=Bluetooth brcmfmac reboot hook
After=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=-/usr/bin/bluetooth_brcmfmac_driver.sh unbind

[Install]
WantedBy=multi-user.target
