// SPDX-License-Identifier: (GPL-2.0-only OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2024 - All Rights Reserved
 * Author: Amelie Delaunay <amelie.delaunay@foss.st.com> for STMicroelectronics.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/* STM32MP215F-DK connector M2 */
/* add combo wifi/bluetooth BCM4373 1EA */

/ {
	compatible = "st,stm32mp215-dk";
	fragment@0 {
		target = <&usart1>;
		__overlay__ {
			status = "okay";
			bluetooth {
				compatible = "brcm,bcm4329-bt";
				shutdown-gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
				max-speed = <3000000>;
				vbat-supply = <&scmi_v3v3>;
				vddio-supply = <&scmi_v3v3>;
			};
		};
	};

	fragment@1 {
		target = <&sdmmc2>;
		__overlay__ {
			status = "okay";
			brcmf: bcrmf@1 {
				compatible = "brcm,bcm4329-fmac";
				reg = <1>;
			};
		};
	};
};
