[Unit]
Description=Create link for gcnano-userland
Wants=systemd-udevd.service systemd-udev-trigger.service
After=systemd-remount-fs.service systemd-udevd.service

[Service]
Type=oneshot
ExecStartPre=-/bin/ln -sf /usr/lib/libEGL.so /usr/lib/libEGL.so.1
ExecStart=-/bin/ln -sf /usr/lib/libGLESv2.so /usr/lib/libGLESv2.so.2
ExecStartPost=/bin/systemctl disable gcnano-userland-make-link.service

[Install]
WantedBy=basic.target
