[Unit]
Description=ST Load M4 firmware via remoteproc
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/st-m4firmware-load-default.sh start

[Install]
WantedBy=sysinit.target
