# CONFIG_GCC_PLUGINS is not set

# Allow to load kernel modules built with different kernel version
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODVERSIONS=y

# Support of iks01a2
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_HTS221=y
CONFIG_IIO_ST_PRESS=m
CONFIG_IIO_ST_LSM6DSX=m
CONFIG_IIO_ST_LSM6DSX_I2C=m

# support of event emulation
CONFIG_INPUT_UINPUT=m

# USBIP
CONFIG_USBIP_CORE=m
CONFIG_USBIP_HOST=m
# CONFIG_USBIP_DEBUG is not set
