#!/bin/bash

declare -A DEVICETREE_SUFFIX_ARRAY
DEVICETREE_SUFFIX_ARRAY[optee-emmc]="-emmc"
DEVICETREE_SUFFIX_ARRAY[optee-sdcard]="-sdcard"
DEVICETREE_SUFFIX_ARRAY[optee-nor]="-snor"
DEVICETREE_SUFFIX_ARRAY[optee-programmer-usb]=""
DEVICETREE_SUFFIX_ARRAY[optee-programmer-serial]=""
##################################################################
##################################################################
### General configuration
##################################################################
##################################################################

# Path to SDK environment (where is 'environment-setup-cortexa35-ostl-linux')
# Usually: /opt/st/stm32mp2/<X.X.X>-openstlinux-<X.X>-yocto-<version_name>-mpu-v<XX.XX.XX>/
sdk_absolute_path=<SDK absolute path>
# Name of environment setup script for sdk
sdk_env_file="environment-setup-cortexa35-ostl-linux"

# Configuration for building stm32mp2x-M33TD
your_board_name="stm32mp257f-dk"

# your_soc_name can be stm32mp21, stm32mp23, stm32mp25
your_soc_name="stm32mp25"

# Type of securityType of security can be 'optee' or 'opteemin' (optee is preconized)
your_storage_boot_scheme_security="optee"

# Type of boot scheme storage used for A35 part, ex.:
#    optee-emmc
#    optee-sdcard
#    optee-nor
#    ... (for other boot storage see ST Yocto BSP)
your_storage_boot_scheme_cortex_a="optee-sdcard"

# Type of boot scheme storage used for M33 part, ex.:
#        m33td_emmc
#        m33td_nor
#        m33td_nor-emmc
#        m33td_nor-sdcard
#        m33td_sdcard
your_storage_boot_scheme_cortex_m="m33td_sdcard"

# Name of profile use to generate TF-M binaries, ex:
#        stm/stm32mp257f_ev1
#        stm/stm32mp215f_dk
#        stm/stm2mp2_generic
your_m33_profile="stm/stm32mp257f_dk"

# Name of project used on M33 processor, ex.:
#       StarterApp_M33TD
your_cube_m33td_project_name="StarterApp_M33TD"

# Path for project used on M33 processor, ex.:
#       Projects/STM32MP215F-DK/Demonstrations/StarterApp_M33TD
#       Projects/STM32MP235F-DK/Demonstrations/StarterApp_M33TD
#       Projects/STM32MP257F-DK/Demonstrations/StarterApp_M33TD
#       Projects/STM32MP257F-EV1/Demonstrations/StarterApp_M33TD
your_cube_m33td_project_path="Projects/STM32MP257F-DK/Demonstrations/StarterApp_M33TD"

# Specific cmake flags to apply for Cube M33TD project build, ex.:
#       -DBUILD_CONFIG=FULL -DBOOT_SPLASHSCREEN=STATIC
your_cube_m33td_bld_opts=""

# Location to store all the binaries generated
your_deploy_dir_path="$PWD/output-sdk-stm32mp257f-dk-m33td"

# Define sub build directory (by default set to ../build)
your_build_subdir_path="../build-stm32mp257f-dk-m33td"

PARALLEL_MAKE=-j8
# paralelle make for linux kernel:
# ex.: 
# PARALLEL_MAKE=-j8
# ----------------------------------------------------------------
# ----------------------------------------------------------------
### External DT configuration
# ----------------------------------------------------------------
# ----------------------------------------------------------------
# External DT  devicetree tree
#  <external dt path>/stm32mp2/m33-td/
#    ├── linux
#    ├── optee
#    ├── tf-a
#    ├── mcuboot
#    ├── tfm
#    └── u-boot

# ------------------------------
# Via external dt
# force external dt path to externaldt env path
# (EXTDT_DIR can be changed by overwriting the path on external-dt_set funcion)
externaldt_path=<externaldt_path>
# external dt subpath for Optee
externaldt_optee_path=stm32mp2/m33-td/optee
externaldt_optee_programmer_path=stm32mp2/m33-td/optee
# external dt U-boot
externaldt_uboot_path=stm32mp2/m33-td/u-boot
externaldt_uboot_programmer_path=stm32mp2/m33-td/u-boot
# TF-A
externaldt_tfa_path=stm32mp2/m33-td/tf-a
externaldt_tfa_programmer_path=stm32mp2/m33-td/tf-a
# TF-M
externaldt_tfm_path=stm32mp2/m33-td/tfm
externaldt_mcuboot_path=stm32mp2/m33-td/mcuboot
# Kernel linux
externaldt_linux_path=stm32mp2/m33-td/linux

# Name of devicetree to use
# Optee dt name
optee_dt_name=${your_board_name}-cm33tdcid-ostl${DEVICETREE_SUFFIX_ARRAY[${your_storage_boot_scheme_cortex_a}]}
optee_dt_programmer_name=${your_board_name}-cm33tdcid-ostl-serial-ca35tdcid
# U-boot dt name
uboot_defconfig=${your_soc_name}_defconfig
uboot_dt_name=${your_board_name}-cm33tdcid-ostl${DEVICETREE_SUFFIX_ARRAY[${your_storage_boot_scheme_cortex_a}]}
uboot_programmer_dt_name=${your_board_name}-cm33tdcid-ostl-serial-ca35tdcid
# TF-A dt name
tfa_dt_name=${your_board_name}-cm33tdcid-ostl
tfa_dt_programmer_name=${your_board_name}-cm33tdcid-ostl-serial-ca35tdcid
# TF-M dt name
tfm_dt_name=${your_board_name}-cm33tdcid-ostl
# Linux kernel dt name
linux_dtb_name=${your_board_name}-cm33tdcid-ostl
##################################################################
##################################################################
##################################################################
##################################################################

source sdk_action-common-for-stm32mp2-m33td.source
