#!/bin/bash

##################################################################
##################################################################
### General configuration
##################################################################
##################################################################

# Path to SDK environment (where is 'environment-setup-cortexa35-ostl-linux')
# Usually: /opt/st/stm32mp2/<X.X.X>-openstlinux-<X.X>-yocto-<version_name>-mpu-v<XX.XX.XX>/
sdk_absolute_path=<SDK absolute path>
# Name of environment setup script for sdk
sdk_env_file="environment-setup-cortexa35-ostl-linux"

# Configuration for building stm32mp2x
your_board_name="stm32mp257f-dk"

# your_soc_name can be stm32mp21, stm32mp23, stm32mp25
your_soc_name="stm32mp25"

# Type of securityType of security can be 'optee' or 'opteemin' (optee is preconized)
your_storage_boot_scheme_security="optee"

# Type of boot scheme storage used for A35 part, ex.:
#    optee-emmc
#    optee-sdcard
#    optee-nor
#    ... (for other boot storage see ST Yocto BSP)
your_storage_boot_scheme_cortex_a="optee-sdcard"

# Location to store all the binaries generated
your_deploy_dir_path="$PWD/output-sdk-stm32mp257f-dk"

# Define sub build directory (by default set to ../build)
your_build_subdir_path="../build-stm32mp257f-dk"

PARALLEL_MAKE=-j8
# paralelle make for linux kernel:
# ex.: 
# PARALLEL_MAKE=-j8
# ----------------------------------------------------------------
# ----------------------------------------------------------------
### External DT configuration
# ----------------------------------------------------------------
# ----------------------------------------------------------------
# External DT  devicetree tree
#  <external dt path>/stm32mp2/a35-td/
#    ├── linux
#    ├── optee
#    ├── tf-a
#    ├── tfm
#    └── u-boot

# ------------------------------
# Via external dt
# force external dt path to externaldt env path
# (EXTDT_DIR can be changed by overwriting the path on external-dt_set funcion)
externaldt_path=<externaldt_path>
# external dt subpath for Optee
externaldt_optee_path=stm32mp2/a35-td/optee
externaldt_optee_programmer_path=stm32mp2/a35-td/optee
# external dt U-boot
externaldt_uboot_path=stm32mp2/a35-td/u-boot
externaldt_uboot_programmer_path=stm32mp2/a35-td/u-boot
# TF-A
externaldt_tfa_path=stm32mp2/a35-td/tf-a
externaldt_tfa_programmer_path=stm32mp2/a35-td/tf-a
# Kernel linux
externaldt_linux_path=stm32mp2/a35-td/linux

# Name of devicetree to use
# Optee dt name
optee_dt_name=$your_board_name
optee_dt_programmer_name=$your_board_name
# U-boot dt name
uboot_defconfig=${your_soc_name}_defconfig
uboot_dt_name=$your_board_name
uboot_programmer_dt_name=your_board_name
# TF-A dt name
tfa_dt_name=$your_board_name
tfa_dt_programmer_name=$your_board_name
# Linux kernel dt name
linux_dtb_name=$your_board_name
##################################################################
##################################################################
##################################################################
##################################################################

source sdk_action-common-for-stm32mp2.source
