#!/bin/bash

##################################################################
##################################################################
### General configuration
##################################################################
##################################################################

# Path to SDK environment (where is 'environment-setup-cortexa7t2hf-neon-vfpv4-ostl-linux-gnueabi')
# Usually: /opt/st/stm32mp1/<X.X.X>-openstlinux-<X.X>-yocto-<version_name>-mpu-v<XX.XX.XX>
sdk_absolute_path=<SDK absolute path>
# Name of environment setup script for sdk
sdk_env_file="environment-setup-cortexa7t2hf-neon-vfpv4-ostl-linux-gnueabi"

# Configuration for building stm32mp1x
your_board_name="stm32mp157f-dk2"

# your_soc_name can be stm32mp15 or stm32mp13
your_soc_name="stm32mp15"

# Type of security can be 'optee' or 'opteemin' (opteemin is preconize for stm32mp15)
your_storage_boot_scheme_security="opteemin"

# Type of boot scheme storage used for A35 part, ex.:
#    optee-emmc
#    optee-sdcard
#    optee-nor
#    ... (for other boot storage see ST Yocto BSP)
your_storage_boot_scheme_cortex_a="opteemin-sdcard"

# Location to store all the binaries generated
your_deploy_dir_path="$PWD/output-sdk-stm32mp157f-dk"

# Define sub build directory (by default set to ../build)
your_build_subdir_path="../build-stm32mp157f-dk"

PARALLEL_MAKE=-j8
# paralelle make for linux kernel:
# ex.: 
# PARALLEL_MAKE=-j8
# ----------------------------------------------------------------
# ----------------------------------------------------------------
### External DT configuration
# ----------------------------------------------------------------
# ----------------------------------------------------------------
# External DT  devicetree tree
#  <external dt path>/stm32mp1/
#    ├── linux
#    ├── optee
#    ├── tf-a
#    └── u-boot

# ------------------------------
# Via external dt
# force external dt path to externaldt env path
externaldt_path=
# external dt subpath for Optee
externaldt_optee_path=stm32mp1/optee
externaldt_optee_programmer_path=stm32mp1/optee
# external dt U-boot
externaldt_uboot_path=stm32mp1/u-boot
externaldt_uboot_programmer_path=stm32mp1/u-boot
# TF-A
externaldt_tfa_path=stm32mp1/tf-a
externaldt_tfa_programmer_path=stm32mp1/tf-a
# Kernel linux
externaldt_linux_path=stm32mp1/linux

# Name of devicetree to use
# Optee dt name
optee_dt_name=$your_board_name
optee_dt_programmer_name=$your_board_name
# U-boot dt name
uboot_defconfig=${your_soc_name}_defconfig
uboot_dt_name=$your_board_name
uboot_programmer_dt_name=your_board_name
# TF-A dt name
tfa_dt_name=$your_board_name
tfa_dt_programmer_name=$your_board_name
# Linux kernel dt name
# linux
linux_dtb_name=$your_board_name
##################################################################
##################################################################
##################################################################
##################################################################

source sdk_action-common-for-stm32mp1.source
