[Unit]
Description=ST Load M33 firmware via remoteproc
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/sbin/st-m33firmware-load-default.sh start
ExecStop=-/sbin/st-m33firmware-load-default.sh stop

[Install]
WantedBy=sysinit.target
