[Unit]
Description=ST Enable M4 firmware coredump

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/stm32mp-coredump-sysfs.sh start
ExecStop=/sbin/stm32mp-coredump-sysfs.sh stop

[Install]
WantedBy=sysinit.target
